.navbar img,
footer img {
	height: 32px;
}


/* ## Custom style for establishments form START ## */
.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
	height: 3.125rem;
	padding: .75rem;
}

.input-group-prepend {
	height: 3.125rem;
}

.form-label-group label {
	/* padding-left: 1rem; */
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	/* Match the input under the label */
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown)~label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

.form-label-group input:not(:-ms-input-placeholder)~label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

.form-control {
	/* to match the recomputed input-group-prepend border radius */
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
	.form-label-group {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.form-label-group label {
		position: static;
	}

	.form-label-group input::-ms-input-placeholder {
		color: #777;
	}
}

/* ## Custom style for login form END ## */


/* ## Custom style for register form START ## */
main.register .form-register img {
	width: 256px;
	-webkit-filter: drop-shadow(2px 2px 1px #999);
	filter: drop-shadow(2px 2px 1px #999);
}

.form-register {
	width: 100%;
	max-width: 800px;
	padding: 15px;
	margin: auto;
}

/* ## Custom style for register form END ## */

/* ## Custom style card-header #establishments START ## */
[id^=establishments] [id^=heading].card-header {
	cursor: pointer;
}

[id^=establishments] [id^=heading].card-header:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 20px;
	content: "\f077";
	margin-right: 10px;
}

[id^=establishments] [id^=heading].card-header.collapsed:before {
	content: "\f078";
}

#establishments i.fas,
#establishments i.fab {
	color: #17a2b8;
}

/* ## Custom style card-header #establishments END ## */


/* ## Custom tootip logout button style START ## */
.tooltip.fade.show.bs-tooltip-left .tooltip-inner {
	max-width: 400px;
	background-color: green;
}

.tooltip.fade.show.bs-tooltip-left .arrow::before {
	border-left-color: green;
}

/* ## Custom tootip style END ## */

/* ## Custom tootip : .custom-tt more bootstrap permissive tooltip START ## */
#establishments_edit .card {
	/* used to bypass bootstrap .card overflow */
	overflow: unset;
}

.custom-tt {
	position: relative;
	display: inline-block;
}

.custom-tt .custom-tt-text {
	visibility: hidden;
	max-width: 90%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1070;
	bottom: 100%;
	margin: 5px 20px;
	padding: 10px;
}

.custom-tt .custom-tt-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.custom-tt:hover .custom-tt-text {
	visibility: visible;
}

/* ## Custom tootip : .custom-tt END ## */

/* ## Custom style #establishments_edit START ## */
#establishments_edit i.fas,
#establishments_edit i.fab {
	min-width: 30px;
	font-size: 1.5rem;
}

/* ## Custom style #establishments_edit END ## */

/* ## Custom style #add_category START ## */

#add_category i.fas,
#add_category i.fab {
	min-width: 30px;
	font-size: 1.5rem;
}

/* ## Custom style #add_category END ## */